<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="chatbox">
        <div id="chatlog">
            <div class="bot-message">Hello! I am the Learning Bot. Start typing your text after greeting to talk to me. For ending convo type bye!</div>
        </div>
        <input id="userInput" type="text" placeholder="Type your message here...">
        <button onclick="sendMessage()">Send</button>
    </div>
    
    <script>
        function sendMessage() {
            var userMessage = $('#userInput').val();
            if (userMessage) {
                $('#chatlog').append('<div class="user-message">' + userMessage + '</div>');
                $.post('/get_response', { msg: userMessage }, function(data) {
                    $('#chatlog').append('<div class="bot-message">' + data.response + '</div>');
                });
                $('#userInput').val('');
            }
        }
    </script>
</body>
</html>
